<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <My.MySettings>
            <setting name="PunchingInOut" serializeAs="String">
                <value />
            </setting>
            <setting name="PunchingInEarly" serializeAs="String">
                <value />
            </setting>
            <setting name="PunchingInLate" serializeAs="String">
                <value />
            </setting>
            <setting name="PunchingOutLate" serializeAs="String">
                <value />
            </setting>
            <setting name="PunchingOutEarly" serializeAs="String">
                <value />
            </setting>
            <setting name="LectureCategorys" serializeAs="String">
                <value>0:(未選択),1:春期,2:夏期,4:冬期</value>
            </setting>
            <setting name="Transp_Exp_Subjects" serializeAs="String">
                <value>K:国語,M:算数,S:社会,R:理科,G:ユーリカ</value>
            </setting>
            <setting name="Site_Group" serializeAs="String">
                <value>0:(未選択),1:グループ①,2:グループ②,3:グループ③,4:札幌,5:新横浜</value>
            </setting>
        </My.MySettings>
    </userSettings>
</configuration>
